# Frontend
panellit_reading_app/build/
panellit_reading_app/.dart_tool/
panellit_reading_app/.packages

# Backend
panellit_backend/node_modules/
panellit_backend/.env
panellit_backend/dist/

# OS
.DS_Store
Thumbs.db

# Ignore VS Code personal settings
.vscode/
